*{
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

header{
    background-image: url(https://r4.wallpaperflare.com/wallpaper/456/792/25/the-sun-light-the-city-bmw-wallpaper-8079cec3ebf1ed3a607077de68e45b8d.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    color: rgb(0, 0, 0);
    margin-left: 40px;
    margin-right: 40px;
}



nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding: 20px;
}
nav::after{
    content: "";
    background-color: rgb(255, 255, 255);
    width: 87%;
    height: 1px;
    position: absolute;
    top: 12%;
    left: 80px;
}


ul{
    display: flex;
}


.nav__ul--links{
    justify-content: flex-start;
}
.nav__ul--links > li{
    display: flex;
    align-items: center;
    padding: 10px;
    font-weight: bold;
}

.nav__ul--icons{
    justify-content: flex-end;
}
.nav__ul--icons > li{
    display: flex;
    justify-content: space-between;
    width: 5%;
    align-items: center;
}

li img{
    width: 35%;
}
.logo__bmw img{
    width: 1050%;
}




.header__bottom{
    position: absolute;
    top: 53%;
    left: 6%;
    color: rgb(255, 255, 255);
}
button{
    background-color: #1c69d4;
    color: white;
    cursor: pointer;
    padding: 15px 50px;
    margin-top: 15px;
    margin-left: 20px;
    font-size: 105%;
    border-width: 0;
}

.primalContent{
    margin: 120px;
    font-weight: bold;
}
.primalContent__nav ul{
    display: flex;
    justify-content: space-around;
    font-size: 120%;
}

.primalContent__elements{

}
.primalContent__elements--1row{
    display: flex;
    justify-content: space-around;
}